.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0069d9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftGroup {
  display: flex;
  padding: 0px 12px;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.rightGroup {
  display: flex;
  padding: 0px 12px;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.button {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 24px; /* padding rộng hơn */
  font-weight: 600;
  border-radius: 6px;
  line-height: 1.3;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #0069d9;
  white-space: nowrap; /* tránh xuống dòng */
}


.button:hover {
  background-color: #0056b3;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 86, 179, 0.5);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 105, 217, 0.5);
}